<section class="bg-light-gray" style="padding-top:110px; padding-bottom:0px !important;">
    <svg viewbox="0 0 0 0" width="0" height="0" style="display:block;position:relative;left:0px;top:0px;">
        <defs>
            <filter id="jssor_1_flt_1" x="-50%" y="-50%" width="200%" height="200%">
                <feGaussianBlur stddeviation="4"></feGaussianBlur>
            </filter>
            <radialGradient id="jssor_1_grd_2">
                <stop offset="0" stop-color="#fff"></stop>
                <stop offset="1" stop-color="#000"></stop>
            </radialGradient>
            <mask id="jssor_1_msk_3">
                <path fill="url(#jssor_1_grd_2)" d="M600,0L600,400L0,400L0,0Z" x="0" y="0"
                    style="position:absolute;overflow:visible;"></path>
            </mask>
        </defs>
    </svg>
    <div id="jssor_1"
        style="position:relative;margin:0 auto;top:0px;left:0px;width:1600px;height:640px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin"
            style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"
                src="/assets/img/spin.svg" />
        </div>
        <div data-u="slides"
            style="cursor:default;position:relative;top:0px;left:0px;width:1600px;height:640px;overflow:hidden;">



            <div>
                <img data-u="image" data-src="/assets/img/0001.jpg" />

            </div>


            <div>
                <img data-u="image" data-src="/assets/img/0002.jpg" />

            </div>


            <div>
                <img data-u="image" data-src="/assets/img/0003.jpg" />

            </div>

            <div>
                <img data-u="image" data-src="/assets/img/0004.jpg" />

            </div>


            <div>
                <img data-u="image" data-src="/assets/img/0006.jpg" />

            </div>

        </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">slider html</a>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb132" style="position:absolute;bottom:24px;right:16px;" data-autocenter="1"
            data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:12px;height:12px;">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2"
            data-scale="0.75" data-scale-left="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;"
            data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
</section>

<section class="wow fadeIn " style="padding:60px 0;">

    <form #suggestionsForm="ngForm" (submit)="onSubmit(suggestionsForm)">
        <div class="container tab-style2">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- start tab navigation -->
                    <ul
                        class="nav nav-tabs alt-font text-uppercase text-small display-inherit text-center font-weight-600">
                        <li class="active"><a href="#tab_sec1" data-toggle="tab">Cycle Scheme</a></li>
                        <li><a href="#tab_sec2" data-toggle="tab">Mahila Jeevika</a></li>
                        <li><a href="#tab_sec3" data-toggle="tab">Health Department</a></li>
                        <li><a href="#tab_sec4" data-toggle="tab">Education Department</a></li>
                        <li><a href="#tab_sec5" data-toggle="tab">Student</a></li>
                    </ul>
                    <!-- end tab navigation -->
                </div>
            </div>
            <div class="tab-content">
                <!-- start tab content -->
                <div class="tab-pane med-text fade in active" id="tab_sec1">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col"
                            *ngIf="categoryWiseQuestions && categoryWiseQuestions['CYCLE_SCHEM']">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-3">
                                <!-- start tab content -->
                                <div class="panel panel-default"
                                    *ngFor="let question of categoryWiseQuestions['CYCLE_SCHEM']; let i = index;">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-3"
                                            href="#accordion-3-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q{{i+1}}</span>
                                                <span
                                                    class="text-white xs-width-80 display-inline-block">{{question.title}}</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-3-One" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio" *ngFor="let ansOption of question.options">
                                                <label><input type="radio" [name]="question._id" [value]="ansOption"
                                                        ngModel checked>{{ansOption}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                        </div>


                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div class="tab-pane fade in" id="tab_sec2">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col"
                            *ngIf="categoryWiseQuestions && categoryWiseQuestions['MAHILA_JEEVIKA']">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-4">
                                <!-- start tab content -->
                                <div class="panel panel-default"
                                    *ngFor="let question of categoryWiseQuestions['MAHILA_JEEVIKA']; let i = index;">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-4"
                                            href="#accordion-4-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q{{i+1}}</span>
                                                <span
                                                    class="text-white xs-width-80 display-inline-block">{{question.title}}</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-4-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio" *ngFor="let ansOption of question.options">
                                                <label><input [name]="question._id" [value]="ansOption" ngModel
                                                        type="radio" name="optradio" checked>{{ansOption}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div class="tab-pane fade in" id="tab_sec3">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col"
                            *ngIf="categoryWiseQuestions && categoryWiseQuestions['HEALTH_DEPARTMENT']">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-4">
                                <!-- start tab content -->
                                <div class="panel panel-default"
                                    *ngFor="let question of categoryWiseQuestions['HEALTH_DEPARTMENT']; let i = index;">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-4"
                                            href="#accordion-4-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q{{i+1}}</span>
                                                <span
                                                    class="text-white xs-width-80 display-inline-block">{{question.title}}</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-4-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio" *ngFor="let ansOption of question.options">
                                                <label><input [name]="question._id" [value]="ansOption" ngModel
                                                        type="radio" name="optradio" checked>{{ansOption}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->
                        </div>


                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div class="tab-pane fade in" id="tab_sec4">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col"
                            *ngIf="categoryWiseQuestions && categoryWiseQuestions['EDUCATION_DEPARTMENT']">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-4">
                                <!-- start tab content -->
                                <div class="panel panel-default"
                                    *ngFor="let question of categoryWiseQuestions['EDUCATION_DEPARTMENT']; let i = index;">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-4"
                                            href="#accordion-4-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q{{i+1}}</span>
                                                <span
                                                    class="text-white xs-width-80 display-inline-block">{{question.title}}</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-4-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio" *ngFor="let ansOption of question.options">
                                                <label><input [name]="question._id" [value]="ansOption" ngModel
                                                        type="radio" name="optradio" checked>{{ansOption}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->
                        </div>


                    </div>
                </div>
                <!-- end tab content -->

                <!-- start tab content -->
                <div class="tab-pane fade in" id="tab_sec5">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col"
                            *ngIf="categoryWiseQuestions && categoryWiseQuestions['STUDENT']">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-4">
                                <!-- start tab content -->
                                <div class="panel panel-default"
                                    *ngFor="let question of categoryWiseQuestions['STUDENT']; let i = index;">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-4"
                                            href="#accordion-4-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q{{i+1}}</span>
                                                <span
                                                    class="text-white xs-width-80 display-inline-block">{{question.title}}</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-4-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio" *ngFor="let ansOption of question.options">
                                                <label><input [name]="question._id" [value]="ansOption" ngModel
                                                        type="radio" name="optradio" checked>{{ansOption}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->
                        </div>


                    </div>
                </div>
                <!-- end tab content -->
            </div>
        </div>

        <section class="wow fadeIn" id="start-your-project" style="padding: 30px 0;">
            <div class="container">

                <div class="row">
                    <div
                        class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-30px-bottom  margin-30px-top xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span
                                class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Visitor
                                Detail</span>
                        </div>
                    </div>
                </div>
                    <div class="row" ngModelGroup="user">
                        <div class="col-md-12">
                            <div id="success-project-contact-form" class="no-margin-lr"></div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" ngModel name="name" id="name" placeholder="Name" class="medium-input width-100">
                        </div>
                        <div class="col-md-6">
                            <input type="text" ngModel name="mobileNumber" id="phone" placeholder="Mobile Number"
                                class="medium-input width-100">
                        </div>
                        <div class="col-md-6">
                                <input class="medium-input width-100" ngModel placeholder="District" list="districts" name="destrict" id="district">
                                <datalist id="districts">
                                    <option [value]="district" *ngFor="let district of districts"> {{district}}</option>
                                </datalist>
                        </div>

                        <div class="col-md-6">
                            <input type="text" list="vidhanSabha" ngModel name="vidhanSabha" id="email" placeholder="Vidhan Sabha Constituency"
                                class="medium-input width-100">
                            <datalist id="vidhanSabha">
                                <option [value]="vidhanSabha" *ngFor="let vidhanSabha of vidhanSabhas"> {{district}}</option>
                            </datalist>
                        </div>


                        <div class="col-md-12">
                            <textarea name="comment" ngModel id="comment" placeholder="Comment" rows="5"
                                class="medium-textarea width-100"></textarea>
                        </div>
                        <div class="col-md-12">
                            <ngx-recaptcha2 #captchaElem required siteKey="6Les47IZAAAAAOKYQRJie45Y4KI_vobyaflG5sWV" (success)="handleSuccess($event)"
                                [size]="size" [hl]="lang" [theme]="theme" [type]="type" ngModel name="reCaptcha">
                            </ngx-recaptcha2>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="margin-15px-top margin-10px-bottom text-center">
                                <button type="submit" [disabled]="suggestionsForm.invalid" class="btn btn-medium btn-success btn-rounded md-margin-15px-bottom margin-10px-bottom sm-display-table sm-margin-lr-auto"
                                    href="#">Submit</button></div>
                        </div>
                    </div>
            </div>
        </section>
    </form>
</section>
<!-- end agenda  section -->