<section class="bg-light-gray" style="padding-top:110px; padding-bottom:0px !important;">
  <svg viewbox="0 0 0 0" width="0" height="0" style="display:block;position:relative;left:0px;top:0px;">
    <defs>
      <filter id="jssor_1_flt_1" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur stddeviation="4"></feGaussianBlur>
      </filter>
      <radialGradient id="jssor_1_grd_2">
        <stop offset="0" stop-color="#fff"></stop>
        <stop offset="1" stop-color="#000"></stop>
      </radialGradient>
      <mask id="jssor_1_msk_3">
        <path fill="url(#jssor_1_grd_2)" d="M600,0L600,400L0,400L0,0Z" x="0" y="0"
          style="position:absolute;overflow:visible;"></path>
      </mask>
    </defs>
  </svg>
  <div id="jssor_1"
    style="position:relative;margin:0 auto;top:0px;left:0px;width:1600px;height:640px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-009-spin"
      style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
      <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="/assets/img/spin.svg" />
    </div>
    <div data-u="slides"
      style="cursor:default;position:relative;top:0px;left:0px;width:1600px;height:640px;overflow:hidden;">



      <div>
        <img data-u="image" data-src="/assets/img/0001.jpg" />

      </div>


      <div>
        <img data-u="image" data-src="/assets/img/0002.jpg" />

      </div>


      <div>
        <img data-u="image" data-src="/assets/img/0003.jpg" />

      </div>

      <div>
        <img data-u="image" data-src="/assets/img/0004.jpg" />

      </div>


      <div>
        <img data-u="image" data-src="/assets/img/0006.jpg" />

      </div>

    </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">slider html</a>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb132" style="position:absolute;bottom:24px;right:16px;" data-autocenter="1"
      data-scale="0.5" data-scale-bottom="0.75">
      <div data-u="prototype" class="i" style="width:12px;height:12px;">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <circle class="b" cx="8000" cy="8000" r="5800"></circle>
        </svg>
      </div>
    </div>
    <!-- Arrow Navigator -->
    <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2"
      data-scale="0.75" data-scale-left="0.75">
      <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
      </svg>
    </div>
    <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2"
      data-scale="0.75" data-scale-right="0.75">
      <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
      </svg>
    </div>
  </div>
</section>

<section class="wow fadeIn " style="padding:60px 0;">
        <div class="container tab-style2">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- start tab navigation -->
                    <ul
                        class="nav nav-tabs alt-font text-uppercase text-small display-inherit text-center font-weight-600">
                        <li class="active"><a href="#tab_sec1" data-toggle="tab">Cycle Scheme</a></li>
                        <li><a href="#tab_sec2" data-toggle="tab">Mahila Jeevika</a></li>
                        <li><a href="#tab_sec3" data-toggle="tab">Health Department</a></li>
                        <li><a href="#tab_sec4" data-toggle="tab">Education Department</a></li>
                        <li><a href="#tab_sec5" data-toggle="tab">Student</a></li>
                    </ul>
                    <!-- end tab navigation -->
                </div>
            </div>
            <div class="tab-content">
                <!-- start tab content -->
                <div class="tab-pane med-text fade in active" id="tab_sec1">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-3">
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-3"
                                            href="#accordion-3-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q1</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-3-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" checked>Option 1</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio">Option 2</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 3</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 4</label>
                                            </div>
                                            <div class="margin-15px-top">
                                                <a class="btn btn-small btn-success btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto"
                                                    href="#">Submit</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-3"
                                            href="#accordion-3-Two">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q2</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-3-Two" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-3"
                                            href="#accordion-3-Three">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q3</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-3-Three" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->

                            <div class="form-group margin-20px-tb">
                                <label for="comment" class=" text-black text-medium">Comments:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>

                            <div class="margin-15px-top margin-10px-bottom text-center">
                                <a class="btn btn-medium btn-success btn-rounded md-margin-15px-bottom margin-10px-bottom sm-display-table sm-margin-lr-auto"
                                    href="#">Submit</a></div>
                        </div>


                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div class="tab-pane fade in" id="tab_sec2">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-4">
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-4"
                                            href="#accordion-4-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q1</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-4-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" checked>Option 1</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio">Option 2</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 3</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 4</label>
                                            </div>
                                            <div class="margin-15px-top">
                                                <a class="btn btn-small btn-success btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto"
                                                    href="#">Submit</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-4"
                                            href="#accordion-4-Two">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q2</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-4-Two" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-4"
                                            href="#accordion-4-Three">
                                            <div class="panel-title">

                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q3</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-4-Three" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->

                            <div class="form-group margin-20px-tb">
                                <label for="comment" class=" text-black text-medium">Comments:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>

                            <div class="margin-15px-top margin-10px-bottom text-center">
                                <a class="btn btn-medium btn-success btn-rounded md-margin-15px-bottom margin-10px-bottom sm-display-table sm-margin-lr-auto"
                                    href="#">Submit</a></div>
                        </div>


                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div class="tab-pane fade in" id="tab_sec3">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-5">
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-5"
                                            href="#accordion-5-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q1</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-5-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" checked>Option 1</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio">Option 2</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 3</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 4</label>
                                            </div>
                                            <div class="margin-15px-top">
                                                <a class="btn btn-small btn-success btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto"
                                                    href="#">Submit</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-5"
                                            href="#accordion-5-Two">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q2</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-5-Two" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-5"
                                            href="#accordion-5-Three">
                                            <div class="panel-title">


                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q3</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-5-Three" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->

                            <div class="form-group margin-20px-tb">
                                <label for="comment" class=" text-black text-medium">Comments:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>

                            <div class="margin-15px-top margin-10px-bottom text-center">
                                <a class="btn btn-medium btn-success btn-rounded md-margin-15px-bottom margin-10px-bottom sm-display-table sm-margin-lr-auto"
                                    href="#">Submit</a></div>
                        </div>


                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div class="tab-pane fade in" id="tab_sec4">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-6">
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-6"
                                            href="#accordion-6-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q1</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-6-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" checked>Option 1</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio">Option 2</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 3</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 4</label>
                                            </div>
                                            <div class="margin-15px-top">
                                                <a class="btn btn-small btn-success btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto"
                                                    href="#">Submit</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-6"
                                            href="#accordion-6-Two">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q2</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-6-Two" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-6"
                                            href="#accordion-6-Three">
                                            <div class="panel-title">



                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q3</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-6-Three" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->

                            <div class="form-group margin-20px-tb">
                                <label for="comment" class=" text-black text-medium">Comments:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>

                            <div class="margin-15px-top margin-10px-bottom text-center">
                                <a class="btn btn-medium btn-success btn-rounded md-margin-15px-bottom margin-10px-bottom sm-display-table sm-margin-lr-auto"
                                    href="#">Submit</a></div>
                        </div>


                    </div>
                </div>
                <!-- end tab content -->

                <!-- start tab content -->
                <div class="tab-pane fade in" id="tab_sec5">
                    <div class="row equalize">

                        <div class="col-md-8 col-sm-12 center-col">
                            <!-- start accordion -->
                            <div class="panel-group accordion-style3" id="accordion-7">
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-7"
                                            href="#accordion-7-One">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q1</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i class="fa fa-angle-up pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-7-One" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            <span
                                                class="text-black xs-width-80 font-weight-700 display-inline-block">Answer</span>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" checked>Option 1</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio">Option 2</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 3</label>
                                            </div>
                                            <div class="radio ">
                                                <label><input type="radio" name="optradio">Option 4</label>
                                            </div>
                                            <div class="margin-15px-top">
                                                <a class="btn btn-small btn-success btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto"
                                                    href="#">Submit</a></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-7"
                                            href="#accordion-7-Two">
                                            <div class="panel-title">
                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q2</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-7-Two" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-7"
                                            href="#accordion-7-Three">
                                            <div class="panel-title">




                                                <span
                                                    class="alt-font font-weight-600 text-light-green tab-tag">Q3</span>
                                                <span class="text-white xs-width-80 display-inline-block">Lorem Ipsum is
                                                    simply dummy text of the printing and typesetting industry</span>
                                                <i
                                                    class="indicator fa fa-angle-down pull-right text-extra-dark-gray "></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="accordion-7-Three" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end accordion -->

                            <div class="form-group margin-20px-tb">
                                <label for="comment" class=" text-black text-medium">Comments:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>

                            <div class="margin-15px-top margin-10px-bottom text-center">
                                <a class="btn btn-medium btn-success btn-rounded md-margin-15px-bottom margin-10px-bottom sm-display-table sm-margin-lr-auto"
                                    href="#">Submit</a></div>
                        </div>


                    </div>
                </div>
                <!-- end tab content -->
            </div>
        </div>
    </section>
    <!-- end agenda  section -->
    