<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="/dashboard">Admin Panel</a>
    <span class="example-spacer"></span>
    <a
      class="btn logout-button"
    >Logout</a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <app-side-menu [menuList]="menuList"></app-side-menu>
  </mat-drawer>

  <div class="dashboard-container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>