<div class="mat-elevation-z8">
  <div class="resource-actions-panel">
    <h3 class="table-heading">
      {{isMessage? 'Sent to': 'Users'}}
    </h3>
    <div *ngIf="!isMessage">

      <a class="btn btn-success" [href]="environment.hostUrl+'/users/sample-csv'" target="_blank" >
        Download Sample CSV
      </a>
      <a class="btn btn-success" [href]="environment.hostUrl+'/users/default-values-xlsx'" target="_blank">
        Download Defaut Values XLSX
      </a>

      <button mat-raised-button color="primary"  class="ml20" (click)="onAddResource()">
        <mat-icon>add</mat-icon>
        Add
      </button>
      <button mat-raised-button color="primary" class="ml10" (click)="onUploadCSV()" >
        <mat-icon>publish</mat-icon>
        Upload CSV
      </button>
      <button mat-raised-button color="primary" class="ml10" (click)="onExportCSV()" >
        <mat-icon>get_app</mat-icon>
        Download CSV
      </button>
    </div>
  </div>
  <div class="filters">
    Filters:&nbsp;&nbsp;
    <mat-form-field class="filter">
      <mat-label>Search name</mat-label>
      <input matInput [formControl]="nameFilter">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [formControl]="roleFilter">
        <mat-option>None</mat-option>
        <mat-option [value]="roleKey" *ngFor="let roleKey of keys ">
          {{displayRoles[roleKey].label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Branch</mat-label>
      <mat-select [formControl]="branchFilter">
        <mat-option>None</mat-option>
        <mat-option [value]="branch" *ngFor="let branch of branchList ">
          {{branch}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Designation</mat-label>
      <mat-select [formControl]="designationFilter">
        <mat-option>None</mat-option>
        <mat-option [value]="branch" *ngFor="let branch of designationList ">
          {{branch}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>District</mat-label>
      <mat-select [formControl]="districtFilter">
        <mat-option>None</mat-option>
        <mat-option [value]="branch" *ngFor="let branch of districtList ">
          {{branch}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="vidhanSabhaList.length>0">
      <mat-label>Vidhan Sabha</mat-label>
      <mat-select [formControl]="vidhanSabhaFilter">
        <mat-option>None</mat-option>
        <mat-option [value]="branch" *ngFor="let branch of vidhanSabhaList ">
          {{branch}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select"  *ngIf="isMessage">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>
        Role
      </th>
      <td mat-cell *matCellDef="let element"> {{element.role | role}} </td>
    </ng-container>
    
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef>
        Branch
      </th>
      <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
    </ng-container>
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef>
        Designation
      </th>
      <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
    </ng-container>
    
    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef>
        District
      </th>
      <td mat-cell *matCellDef="let element"> {{element.district}} </td>
    </ng-container>

    <ng-container matColumnDef="vidhansabha">
      <th mat-header-cell *matHeaderCellDef>
        Vidhan Sabha
      </th>
      <td mat-cell *matCellDef="let element"> {{element.vidhansabha}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
    </ng-container>
    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
      <td mat-cell *matCellDef="let element"> {{element?.mobileNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt" *ngIf="!isMessage">
      <th mat-header-cell *matHeaderCellDef> Created on </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt" *ngIf="!isMessage">
      <th mat-header-cell *matHeaderCellDef> Update on </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date}} </td>
    </ng-container>

    <ng-container matColumnDef="action" sticky="true" *ngIf="!isMessage">
      <th mat-header-cell *matHeaderCellDef> <div class="ml20">Actions</div> </th>
      <td mat-cell *matCellDef="let element">

        <div class="example-flex-container2">
          <button mat-button color="primary" (click)="onEdit(element)">Edit</button>
          <button mat-button color="warn" (click)="onDelete(element)">Delete</button>
          <button *ngIf="isSuperAdmin" mat-button color="warn" (click)="showLoginHistory(element)">Login History</button>
          <button mat-button color="warn" (click)="onPasswordChange(element)">Change Password</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>