:host {
  // display: flex;
  // justify-content: center;
  // margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.forgot-pass-link {
  align-self: center;
  padding: 0 16px;
  text-decoration: underline;
  font-size: smaller;
  font-style: italic;
  line-height: 36px;
}


@import url('./utils.css');
@import url('./main.css');

