<section class="wow fadeIn" style="padding: 107px 0px 0px 0px;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
      <div class="display-table-cell vertical-align-middle text-center">
        <img src="/assets/img/inner_banner1.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.4"  style="padding: 60px 0;">
            <div class="container-fluid padding-five-lr sm-padding-25px-lr xs-padding-15px-lr">
                <div class="row">
                    <main class="col-md-12 col-sm-12 col-xs-12 right-sidebar sm-margin-60px-bottom xs-margin-40px-bottom sm-padding-15px-lr">
                        <!-- start post item -->
                        
                        <app-information-card-impacts
                            *ngFor="let impact of impacts; let i = index;"
                            [imgUrl]="impact.imgUrl"
                            [title]="impact.title"
                            [description]="impact.description"
                            [index]="i"
                        ></app-information-card-impacts>

                        <!-- start pagination -->
                        <!-- <div class="col-md-12 col-sm-12 col-xs-12 text-center margin-100px-top sm-margin-50px-top position-relative wow fadeInUp">
                            <div class="pagination text-small text-uppercase text-dark-gray">
                                <ul>
                                    <li><a href="#"><i class="fa fa-long-arrow-left margin-5px-right xs-display-none"></i> Prev</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next <i class="fa fa-long-arrow-right margin-5px-left xs-display-none"></i></a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- end pagination -->
                    </main>
                    
                </div>
            </div>
        </section>
