<section class="wow fadeIn" style="padding: 107px 0px 0px 0px;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
      <div class="display-table-cell vertical-align-middle text-center">
        <img src="/assets/img/inner_banner1.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.4"  style="padding: 60px 0;">
            <div class="container-fluid padding-five-lr sm-padding-25px-lr xs-padding-15px-lr">
                <div class="row">
                    <main class="col-md-12 col-sm-12 col-xs-12 right-sidebar sm-margin-60px-bottom xs-margin-40px-bottom sm-padding-15px-lr">
                        <!-- start post item -->
                        
                        <app-information-card-impacts
                            *ngFor="let impact of impacts; let i = index;"
                            [imgUrl]="impact.imgUrl"
                            [title]="impact.title"
                            [description]="impact.description"
                            [index]="i"
                        ></app-information-card-impacts>

                        <!-- start post item -->
                        <!-- <div class="equalize sm-equalize-auto blog-post-content  display-inline-block border-bottom border-color-extra-light-gray sm-margin-30px-bottom sm-padding-30px-bottom xs-text-center sm-no-border" style="background: #b2f7b2;">
                            <div class="blog-image pull-right col-md-5 no-padding sm-margin-30px-bottom xs-margin-20px-bottom  sm-no-margin-right display-table">
                                <div class="display-table-cell vertical-align-middle">
                                    <a href="javascript:void(0)"><img src="/assets/img/impect/imp02.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="blog-text col-md-6 display-table no-padding">
                                <div class="display-table-cell vertical-align-middle">
                                    <div class="content margin-20px-bottom  sm-no-padding-left margin-20px-left ">
                                        <a href="javascript:void(0)" class="text-dark-gray margin-5px-bottom alt-font text-extra-large font-weight-600 display-inline-block">Foundation Stone of Saharsa Power Substation</a>
                                        <div class="text-black text-extra-small margin-15px-bottom text-uppercase alt-font"><span>CM NITISH KR INAUGURATING POWER GRID IN SAHARSA</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span> BY - JDU MEDIA CELL   </span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span>01/19/2019</span></div>
                                        <p class="no-margin width-95 text-black text-justify">On Saturday, 19 January 2019, Chief Minister Nitish Kumar laid the foundation stone of the 400/220/132 KV power sub-station at Sinhaul in Satarkataiya block of Saharsa district at a cost of 300 crore. </p>
                                    </div>
                               
                                <a href="javascript:void(0)" class="btn btn-small btn-rounded btn-success  margin-20px-left sm-margin-15px-left xs-no-margin-left">Continue Reading <i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div> -->
                        <!-- end post item -->  
                     
                        <!-- start post item --> 
                        <!-- <div class="equalize sm-equalize-auto blog-post-content  display-inline-block border-bottom border-color-extra-light-gray sm-margin-30px-bottom sm-padding-30px-bottom xs-text-center sm-no-border" style="background: #b2f7b2;">
                            <div class="blog-image col-md-5 no-padding sm-margin-30px-bottom xs-margin-20px-bottom margin-45px-right sm-no-margin-right display-table">
                                <div class="display-table-cell vertical-align-middle">
                                    <a href="javascript:void(0)"><img src="/assets/img/impect/imp03.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="blog-text col-md-6 display-table no-padding">
                                <div class="display-table-cell vertical-align-middle">
                                    <div class="content margin-20px-bottom sm-padding-20px-left ">
                                        <a href="javascript:void(0)" class="text-dark-gray margin-5px-bottom alt-font text-extra-large font-weight-600 display-inline-block">National Executive: Energy-rich JDU</a>
                                        <div class="text-black text-extra-small margin-15px-bottom text-uppercase alt-font"><span>JDU NATIONAL EXECUTIVE MEETING</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span> BY - JDU MEDIA CELL   </span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span>07/08/2018</span></div>
                                        <p class="no-margin width-95 text-black text-justify ">In an important meeting of the National Executive held in Delhi, JDU made its stand clear on many issues. The party was overwhelmed with new energy with a pledge addressed by the National President, Nitish Kumar. </p>
                                    </div>
                                   <a href="javascript:void(0)" class="btn btn-small btn-rounded btn-success">Continue Reading <i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div> -->
                        <!-- end post item -->  
                     
                     
                      
                        <!-- start pagination -->
                        <!-- <div class="col-md-12 col-sm-12 col-xs-12 text-center margin-100px-top sm-margin-50px-top position-relative wow fadeInUp">
                            <div class="pagination text-small text-uppercase text-dark-gray">
                                <ul>
                                    <li><a href="#"><i class="fa fa-long-arrow-left margin-5px-right xs-display-none"></i> Prev</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next <i class="fa fa-long-arrow-right margin-5px-left xs-display-none"></i></a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- end pagination -->
                    </main>
                    
                </div>
            </div>
        </section>
