<div mat-dialog-content>
  <mat-card>
    <mat-card-title>{{form.value._id == '' ? 'Upload Video' : 'Update Video'}}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Title" formControlName="title">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Class</mat-label>
            <mat-select formControlName="class">
              <mat-option [value]="classs._id" *ngFor="let classs of data.classList ">
                {{classs.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Chapter</mat-label>
            <mat-select formControlName="chapter">
              <mat-option [value]="chapter._id" *ngFor="let chapter of filteredChapterList ">
                {{chapter.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <button type="button" mat-raised-button (click)="onUploadClick(pdfFileField)">
            Select PDF to upload
          </button>
          
          <input id="pdfFileInput" #pdfFileField hidden type="file" (change)="pdfFileChange($event.target.files)">
          <span *ngIf="selectedPdfFile && selectedPdfFile.name">
            {{selectedPdfFile.name}}
          </span>
        </p>

        <p>
          <button type="button" mat-raised-button (click)="onUploadClick(videoFileField)">
            Select video to uplaod
          </button>
          
          <input id="videoFileInput" #videoFileField hidden type="file" (change)="videoFileChange($event.target.files)">
          <span *ngIf="selectedVideoFile && selectedVideoFile.name">
            {{selectedVideoFile.name}}
          </span>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="button" (click)="onReset()" [disabled]="!form.touched" mat-button>Reset</button>
          <button type="submit" [disabled]="form.invalid || isUploading"
            mat-button>
            <ng-container *ngIf="!isUploading">
              {{form.value._id == '' ? 'Create' : 'Update'}}
            </ng-container>
            <ng-container *ngIf="isUploading">
              {{form.value._id == '' ? 'Creating...' : 'Updating...'}}
              <!-- <mat-spinner [diameter]="10"></mat-spinner> -->
            </ng-container>
            
            <!-- <mat-icon *ngIf="isUploading" aria-hidden="false" aria-label="Example home icon">backup</mat-icon> -->
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>