

<ng-container *ngIf="createMode">
    <form [formGroup]="questionForm">
      <div class="col-md-12">
        <select formControlName="category" class="medium-input width-100" id="exampleFormControlSelect1">
          <option [value]="categoryKey" *ngFor="let categoryKey of questionKeys">
            <app-constant [constant]="QUESTION_CATEGORY" [isBadge]="false" [code]="categoryKey"></app-constant>
          </option>
        </select>
      </div>

      <div class="col-md-12">
        <input type="text" formControlName="title" id="title" placeholder="Question Title" class="medium-input width-100">
      </div>

      <div formArrayName="options">
        <h3>Options</h3>
        <div *ngFor="let option of options.controls; let i=index">
          <!-- The repeated alias template -->
          <label>
            Option:
            <input type="text" [formControlName]="i">
            <button (click)="removeOption(i)">Remove</button>

          </label>
        </div>
        <button (click)="addOption()">Add Option</button>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="dismiss('Save click')">Cancel</button>
    </form>
    
</ng-container>

<ng-container *ngIf="!createMode">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="i+1" *ngFor="let questionKey of questionKeys; let i = index;">
      <a ngbNavLink>
        <app-constant [constant]="QUESTION_CATEGORY" [isBadge]="false" [code]="questionKey"></app-constant>
      </a>
      <ng-template ngbNavContent>
        <button class="btn btn-small btn-rounded btn-success" (click)="addNewQuestion(questionKey)">Add new question</button>
        <ngb-accordion #acc="ngbAccordion" *ngIf="catogoryWiseQuestions && catogoryWiseQuestions[questionKey]"
          activeIds="ngb-panel-0">
          <ngb-panel *ngFor="let question of catogoryWiseQuestions[questionKey]; let i2 = index;">
            <ng-template ngbPanelTitle>
              <div><b>Question {{i2+1}}: </b> {{question.title}}</div>
            </ng-template>
            <ng-template ngbPanelContent>
              <button class="btn btn-small btn-rounded btn-danger margin-10px-bottom margin-10px-lr" (click)="deleteQuestion(question)">Delete</button>
              <button class="btn btn-small btn-rounded btn-primary margin-10px-bottom margin-5px-lr" (click)="showAnswers(question)">View Answers</button>
  
              <!-- <h3>Options: </h3> -->
              <ol>
                <li *ngFor="let option of question.options; let i=index;">
                  {{option}}
                </li>
              </ol>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</ng-container>
