.question  {
  @media only screen and (min-width: 1200px) {
    margin-right: 0;padding-right: 0;
  }
}

.graph {
  @media only screen and (max-width: 1200px) {
    margin-top: 10px;
  }
}

.question-table {
  margin-top: 10px;
  @media only screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}
