
<ng-container *ngIf="loading">Loading...</ng-container>
<ng-container *ngIf="!loading">

  <div class="row">
    <div class="col-md-12 col-lg-4 question">
      <mat-card style="min-height: 250px;">
        <div style="margin-bottom:10px; font-size: 16px;" >{{question.title}}</div>
        <ol style="margin-left: -20px;font-size: 16px;">
          <li style="margin-top: 5px;" *ngFor="let option of question.options; let i=index;">
            {{option}}
          </li>
        </ol>
      </mat-card>
    </div>
    <div class="col-md-12 col-lg-8 graph">
      <mat-card style="min-height: 200px; display: flex;justify-content:center;">
        <div style="width: 500px;">
          <canvas baseChart [datasets]="barChartData" [labels]="labels" [chartType]="barChartType"
            [options]="barChartOptions"></canvas>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row question-table"  >
      <div class="col-md-12">
        <mat-card>
          <div style="display: block;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Answer</th>
                  <th scope="col">Name</th>
                  <th scope="col">Mobile Number</th>
                  <th scope="col">District</th>
                  <th scope="col">Vidhan Sabha</th>
                  <th scope="col">Comment</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let answer of answers; let i = index;">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ answer.answer }}</td>
                  <td>{{ answer.name }}</td>
                  <td>{{ answer.mobileNumber }}</td>
                  <td>{{ answer.destrict }}</td>
                  <td>{{ answer.vidhanSabha }}</td>
                  <td>{{ answer.comment }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card>
      </div>
  </div>
</ng-container>

