<div mat-dialog-content>
  <mat-card>
    <mat-card-title>{{isCreateMode ? 'Create Yatrayen' : 'Update Yatrayen'}}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Title" formControlName="title">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Image URL" formControlName="imageUrl">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </p>
        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="button" (click)="form.reset(initialValues)" [disabled]="!form.touched" mat-button>Reset</button>
          <button type="submit" [disabled]="!form.valid"
            mat-button>{{form.value._id == '' ? 'Create' : 'Update'}}</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>