<!-- start page title section -->
<section class="wow fadeIn" style="padding: 107px 0px 0px 0px;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
      <div class="display-table-cell vertical-align-middle text-center">
        <img src="/assets/img/yatra_banner.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.4" style="padding: 60px 0;">
  <div class="container-fluid padding-five-lr sm-padding-25px-lr xs-padding-15px-lr">
    <div class="row">
      <main
        class="col-md-12 col-sm-12 col-xs-12 right-sidebar sm-margin-60px-bottom xs-margin-40px-bottom sm-padding-15px-lr">

        <app-information-card-impacts *ngFor="let impact of yatrayen; let i = index;" [imgUrl]="impact.imageUrl"
          [title]="impact.title" [description]="impact.description" [index]="i"></app-information-card-impacts>
      </main>

    </div>
  </div>
</section>