<div class="row" *ngIf="roleWiseUsers">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="!['STATE_LEVEL_USER', 'BLOCK_LEVEL_USER', 'DISTRICT_LEVEL_USER'].includes(loggedInUsersRole)">
    <div class="info-box bg-green hover-expand-effect">
      <div class="icon">
        <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">people</mat-icon>
      </div>
      <div class="content">
          <div class="text">State Padha Adhikari</div>
          <div class="number count-to" data-from="0" data-to="200" data-speed="1000" data-fresh-interval="20">{{roleWiseUsers['STATE_LEVEL_USER']?.length}}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="!['DISTRICT_LEVEL_USER', 'BLOCK_LEVEL_USER'].includes(loggedInUsersRole)">
    <div class="info-box bg-orange  hover-expand-effect">
      <div class="icon">
        <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">people</mat-icon>
      </div>
      <div class="content">
          <div class="text">Distric Padha Adhikari</div>
          <div class="number count-to" data-from="0" data-to="200" data-speed="1000" data-fresh-interval="20">{{roleWiseUsers['DISTRICT_LEVEL_USER']?.length}}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box bg-cyan hover-expand-effect">
      <div class="icon">
        <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">people</mat-icon>
      </div>
      <div class="content">
          <div class="text">Block Padha Adhikari</div>
          <div class="number count-to" data-from="0" data-to="200" data-speed="1000" data-fresh-interval="20">{{roleWiseUsers['BLOCK_LEVEL_USER']?.length}}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box bg-blue-grey hover-expand-effect">
      <div class="icon">
        <!-- <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">people</mat-icon> -->
      </div>
      <div class="content">
          <div class="text">Yatrayen</div>
          <div class="number count-to" data-from="0" data-to="200" data-speed="1000" data-fresh-interval="20">1</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box bg-blue-grey hover-expand-effect">
      <div class="icon">
        <!-- <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">people</mat-icon> -->
      </div>
      <div class="content">
          <div class="text">Brand Bihar</div>
          <div class="number count-to" data-from="0" data-to="200" data-speed="1000" data-fresh-interval="20">2</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box bg-blue-grey hover-expand-effect">
      <div class="icon">
        <!-- <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">people</mat-icon> -->
      </div>
      <div class="content">
          <div class="text">Speeches</div>
          <div class="number count-to" data-from="0" data-to="200" data-speed="1000" data-fresh-interval="20">1</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box bg-blue-grey hover-expand-effect">
      <div class="icon">
        <!-- <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">people</mat-icon> -->
      </div>
      <div class="content">
          <div class="text">Material</div>
          <div class="number count-to" data-from="0" data-to="200" data-speed="1000" data-fresh-interval="20">1</div>
      </div>
    </div>
  </div>
</div>