.disabled {
  pointer-events:none;
}


h5.alt-font {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

@media (max-width: 767px) { 
  h5 {
    font-size: 20px;
    line-height: 28px;
  }
}