<!-- <p>
  Click to <a type="button" routerLink="/dashboard/upload-document">Upload a new document</a>
</p> -->
<div class="resource-actions-panel">
  <h3 class="table-heading">
  </h3>
  <button mat-raised-button color="primary" routerLink="/dashboard/upload-document">
    <mat-icon>add</mat-icon>
    Upload a new document
  </button>
  <!-- <button mat-raised-button color="primary" (click)="onAddResource()">
    <mat-icon>add</mat-icon>
    Add
  </button> -->
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Documents</th>
      <th scope="col">Access</th>
      <th scope="col"><div class="ml20">Action</div></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ document.originalname }}
      </td>
      <td>
        <app-constant *ngFor="let role of document.roles" [constant]="ROLES" [code]="role"></app-constant></td>
      <td>
        <a [href]="'http://'+document.fullPath" mat-button color="primary" [attr.download]="document.originalname">Download</a>
        <button mat-button color="warn" (click)="onDelete(document)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>