


<!-- start video  section -->
<app-live-stream-player *ngIf="liveRailyStatus === 'started'"></app-live-stream-player>
<section class="parallax wow fadeIn margin-100px-top" *ngIf="liveRailyStatus !== 'started'"
  data-stellar-background-ratio="0.1" style="background-image:url('/assets/img/live_video_bg.jpg');">
  <div class="opacity-extra-medium bg-black"></div>

  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center center-col">
        <a target="_blank" [class.disabled]="liveRailyStatus !== 'started'"
          [href]="liveRailyStatus == 'started' ? 'https://player.cloud.wowza.com/hosted/bdp9kfmj/player.html' : ''"
          class="pop up-vimeo">
          <img src="/assets/img/icon-play.png" class="width-30" alt="" />
        </a>
        <h5 class="alt-font text-white">
          {{liveRailyStatus == 'started' ? 'Raily is live, Click button view Rally' : 'The Rally Starting Soon'}}
        </h5>
      </div>
    </div>
  </div>
</section>
<!-- end video style  section -->

<!-- start about agency -->
<section class="wow fadeIn bg-light-gray" style="padding:60px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center wow fadeInUp ">
        <div class="row">
          <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-40px-bottom xs-margin-40px-bottom">
            <div class="position-relative overflow-hidden width-100">
              <span
                class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase text-dark-gray">About
                Janata Dal United</span>
            </div>
          </div>
        </div>

        <p class="text-black font-weight-500 text-justify display-block alt-font margin-10px-bottom">Welcome to the
          official web portal of <b>Janata Dal United</b> . Why and how are we different from other parties? What is our
          ideology? How are our leaders, policy and programs creating tomorrow? What are our achievements in the journey
          so far and in which direction are we struggling? You will get answers to all such questions here. If you want,
          please communicate with us. If there are suggestions, then definitely, we will welcome.</p>
      </div>
    </div>

  </div>
</section>
<!-- end about  section -->



<!-- start slider -->
<!--====================================
——— BEGIN MAIN SLIDE LIST
===================================== -->

<section class="bg-light-gray" style="padding:60px 0px !important;">
  <svg viewbox="0 0 0 0" width="0" height="0" style="display:block;position:relative;left:0px;top:0px;">
    <defs>
      <filter id="jssor_1_flt_1" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur stddeviation="4"></feGaussianBlur>
      </filter>
      <radialGradient id="jssor_1_grd_2">
        <stop offset="0" stop-color="#fff"></stop>
        <stop offset="1" stop-color="#000"></stop>
      </radialGradient>
      <mask id="jssor_1_msk_3">
        <path fill="url(#jssor_1_grd_2)" d="M600,0L600,400L0,400L0,0Z" x="0" y="0"
          style="position:absolute;overflow:visible;"></path>
      </mask>
    </defs>
  </svg>
  <div id="jssor_1"
    style="position:relative;margin:0 auto;top:0px;left:0px;width:1600px;height:640px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-009-spin"
      style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
      <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="/assets/img/spin.svg" />
    </div>
    <div data-u="slides"
      style="cursor:default;position:relative;top:0px;left:0px;width:1600px;height:640px;overflow:hidden;">
      <div>
        <img data-u="image" data-src="/assets/img/banner1.jpg" />
      </div>


      <div>
        <img data-u="image" data-src="/assets/img/banner2.jpg" />

      </div>


      <div>
        <img data-u="image" data-src="/assets/img/banner3.jpg" />

      </div>

      <div>
        <img data-u="image" data-src="/assets/img/banner4.jpg" />

      </div>

    </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">slider html</a>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb132" style="position:absolute;bottom:24px;right:16px;" data-autocenter="1"
      data-scale="0.5" data-scale-bottom="0.75">
      <div data-u="prototype" class="i" style="width:12px;height:12px;">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <circle class="b" cx="8000" cy="8000" r="5800"></circle>
        </svg>
      </div>
    </div>
    <!-- Arrow Navigator -->
    <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2"
      data-scale="0.75" data-scale-left="0.75">
      <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
      </svg>
    </div>
    <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2"
      data-scale="0.75" data-scale-right="0.75">
      <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
      </svg>
    </div>
  </div>
</section>
<!-- end slider -->

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.4"
  style="background-image: url(&quot;/assets/img/testimonial-bg.png&quot;); background-position: 0px 43.275px; visibility: visible; animation-name: fadeIn; padding:30px 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-40px-bottom xs-margin-40px-bottom">
        <div class="position-relative overflow-hidden width-100">
          <span
            class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase text-dark-gray">UPCOMING
            EVENTS</span>
        </div>
      </div>
    </div>
    <div class="row equalize xs-equalize-auto">

      <!-- start features box item -->
      <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp">
        <div class="text-center text-black" style="background: rgb(105,255,104);
        background: linear-gradient(0deg, rgba(105,255,104,1) 0%, rgba(185,255,185,1) 47%);">
          <a href="javascript:void(0)"><img src="/assets/img/upcoming_events/001.jpg" alt=""></a>
          <div class="padding-35px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Economic
              Solution, Force on Youth</span>
            <p class="text-justify">Self-help allowance of Rs 1000 per month for all youth between 20 and 25 years and
              student loans up to Rs 4 lakh for all 12th grade passing students through credit cards and for which the
              state guarantor is like five Ambitious schemes are running under this determination.</p><br />
            <a href="javascript:void(0)" class="btn btn-small btn-rounded btn-success">View Details <i
                class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- end feature box item -->
      <!-- start features box item -->
      <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp"
        data-wow-delay="0.2s">
        <div class="text-center text-black" style="background: rgb(105,255,104);
        background: linear-gradient(0deg, rgba(105,255,104,1) 0%, rgba(185,255,185,1) 47%);">
          <a href="javascript:void(0)"><img src="/assets/img/upcoming_events/002.jpg" alt=""></a>
          <div class="padding-35px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Reserved
              Employment, Women Rights</span>
            <p class="text-justify">The Bihar government has ensured that there will be a 35 percent horizontal
              reservation for women for direct appointments at all levels and in all types of posts of all government
              services-cadres. Bihar is the first state to do so.</p><br />
            <a href="javascript:void(0)" class="btn btn-small btn-rounded btn-success">View Details <i
                class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- end feature box item -->
      <!-- start features box item -->
      <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-no-margin-bottom wow fadeInUp"
        data-wow-delay="0.4s">
        <div class="text-center text-black" style="background: rgb(105,255,104);
        background: linear-gradient(0deg, rgba(105,255,104,1) 0%, rgba(185,255,185,1) 47%);">
          <a href="javascript:void(0)"><img src="/assets/img/upcoming_events/003.jpg" alt=""></a>
          <div class="padding-35px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Opportunities
              Increased, Read Further</span>
            <p class="text-justify">The Government is committed to establish five new Medical Colleges, Nursing
              Colleges, ANM Schools, GNM Schools, Para-Medical Institutes, Polytechnics, Industrial Training Institutes,
              Engineering Universities etc., so that all kinds of opportunities are available within the state.</p>
            <a href="javascript:void(0)" class="btn btn-small btn-rounded btn-success">View Detail<i
                class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- end feature box item -->
    </div>
  </div>
</section>


<!-- start Historical Events Start -->
<section class="wow fadeIn bg-light-gray" style="padding:30px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-40px-bottom xs-margin-40px-bottom">
        <div class="position-relative overflow-hidden width-100">
          <span class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase text-dark-gray">Our
            Achievements</span>
        </div>
      </div>
    </div>
    <div class="row equalize xs-equalize-auto">

      <!-- start features box item -->
      <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp">
        <div class="text-center text-black" style="background: rgb(105,255,104);
        background: linear-gradient(0deg, rgba(105,255,104,1) 0%, rgba(185,255,185,1) 47%);">
          <a href="javascript:void(0)"><img src="/assets/img/achievements/01.jpg" alt=""></a>
          <div class="padding-45px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Bicycle and
              Dress Plan</span>
            <p>It sounds small to hear a bicycle, but it gave girls in Bihar a new perspective to see the world and
              touch their targets.</p>
            <a href="javascript:void(0)" class="btn btn-small btn-rounded btn-success">View Details <i
                class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- end feature box item -->
      <!-- start features box item -->
      <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp"
        data-wow-delay="0.2s">
        <div class="text-center text-black" style="background: rgb(105,255,104);
        background: linear-gradient(0deg, rgba(105,255,104,1) 0%, rgba(185,255,185,1) 47%);">
          <a href="javascript:void(0)"><img src="/assets/img/achievements/02.jpg" alt=""></a>
          <div class="padding-45px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Public
              Grievances Redressal Act</span>
            <p>Shri Nitish Kumar has empowered 11 crore people of Bihar as Public Grievances Redressal Rights Act.</p>
            <a href="javascript:void(0)" class="btn btn-small btn-rounded btn-success">View Details <i
                class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- end feature box item -->
      <!-- start features box item -->
      <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-no-margin-bottom wow fadeInUp"
        data-wow-delay="0.4s">
        <div class="text-center text-black" style="background: rgb(105,255,104);
        background: linear-gradient(0deg, rgba(105,255,104,1) 0%, rgba(185,255,185,1) 47%);">
          <a href="javascript:void(0)"><img src="/assets/img/achievements/03.jpg" alt=""></a>
          <div class="padding-45px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Agricultural
              Roadmap</span>
            <p>The agricultural roadmap has given a new shape and dimension to the rural economy of Bihar.</p>
            <a href="javascript:void(0)" class="btn btn-small btn-rounded btn-success">View Detail<i
                class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- end feature box item -->
    </div>
  </div>
</section>
<!-- end Historical Events  section -->

<!-- end footer -->
<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
