


<!-- start video  section -->
<app-live-stream-player [streamUrl]="streamUrl" *ngIf="liveRailyStatus === 'started'"></app-live-stream-player>
<app-banner *ngIf="liveRailyStatus !== 'started'" [bannerMessage]="bannerMessage"></app-banner>
<!-- end video style  section -->

<!-- start about agency -->
<section class="wow fadeIn bg-light-gray" style="padding:60px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center wow fadeInUp ">
        <div class="row">
          <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-40px-bottom xs-margin-40px-bottom">
            <div class="position-relative overflow-hidden width-100">
              <span
                class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase text-dark-gray">About
                Janata Dal United</span>
            </div>
          </div>
        </div>

        <p class="text-black font-weight-500 text-justify display-block alt-font margin-10px-bottom">Welcome to the
          official web portal of <b>Janata Dal United</b> . Why and how are we different from other parties? What is our
          ideology? How are our leaders, policy and programs creating tomorrow? What are our achievements in the journey
          so far and in which direction are we struggling? You will get answers to all such questions here. If you want,
          please communicate with us. If there are suggestions, then definitely, we will welcome.</p>
      </div>
    </div>

  </div>
</section>
<!-- end about  section -->



<!-- start slider -->
<!--====================================
——— BEGIN MAIN SLIDE LIST
===================================== -->

<section class="bg-light-gray" style="padding:60px 0px !important;">
  <svg viewbox="0 0 0 0" width="0" height="0" style="display:block;position:relative;left:0px;top:0px;">
    <defs>
      <filter id="jssor_1_flt_1" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur stddeviation="4"></feGaussianBlur>
      </filter>
      <radialGradient id="jssor_1_grd_2">
        <stop offset="0" stop-color="#fff"></stop>
        <stop offset="1" stop-color="#000"></stop>
      </radialGradient>
      <mask id="jssor_1_msk_3">
        <path fill="url(#jssor_1_grd_2)" d="M600,0L600,400L0,400L0,0Z" x="0" y="0"
          style="position:absolute;overflow:visible;"></path>
      </mask>
    </defs>
  </svg>
  <div id="jssor_1"
    style="position:relative;margin:0 auto;top:0px;left:0px;width:1600px;height:640px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-009-spin"
      style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
      <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="/assets/img/spin.svg" />
    </div>
    <div data-u="slides"
      style="cursor:default;position:relative;top:0px;left:0px;width:1600px;height:640px;overflow:hidden;">
      <div>
        <img data-u="image" data-src="/assets/img/banner1.jpg" />
      </div>


      <div>
        <img data-u="image" data-src="/assets/img/banner2.jpg" />

      </div>


      <div>
        <img data-u="image" data-src="/assets/img/banner3.jpg" />

      </div>

      <div>
        <img data-u="image" data-src="/assets/img/banner4.jpg" />

      </div>

    </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">slider html</a>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb132" style="position:absolute;bottom:24px;right:16px;" data-autocenter="1"
      data-scale="0.5" data-scale-bottom="0.75">
      <div data-u="prototype" class="i" style="width:12px;height:12px;">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <circle class="b" cx="8000" cy="8000" r="5800"></circle>
        </svg>
      </div>
    </div>
    <!-- Arrow Navigator -->
    <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2"
      data-scale="0.75" data-scale-left="0.75">
      <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
      </svg>
    </div>
    <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2"
      data-scale="0.75" data-scale-right="0.75">
      <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
      </svg>
    </div>
  </div>
</section>
<!-- end slider -->

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.4"
  style="background-image: url(&quot;/assets/img/testimonial-bg.png&quot;); background-position: 0px 43.275px; visibility: visible; animation-name: fadeIn; padding:30px 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-40px-bottom xs-margin-40px-bottom">
        <div class="position-relative overflow-hidden width-100">
          <span
            class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase text-dark-gray">UPCOMING
            EVENTS</span>
        </div>
      </div>
    </div>
    <div class="row equalize xs-equalize-auto">
      <!-- start features box item -->
      <app-information-card
        *ngFor="let event of upComingEvents;"
        [imgUrl]="event.imgUrl"
        [description]="event.description"
        [title]="event.title"></app-information-card>
      <!-- end feature box item -->
    </div>
  </div>
</section>

<!-- start Historical Events Start -->
<section class="wow fadeIn bg-light-gray" style="padding:30px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-40px-bottom xs-margin-40px-bottom">
        <div class="position-relative overflow-hidden width-100">
          <span class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase text-dark-gray">Our Achievements</span>
        </div>
      </div>
    </div>
    <div class="row equalize xs-equalize-auto">
      <!-- start features box item -->
      <app-information-card
        *ngFor="let event of ourAchievements;"
        [imgUrl]="event.imgUrl"
        [description]="event.description"
        [title]="event.title"></app-information-card>
      <!-- end feature box item -->
    </div>
  </div>
</section>
<!-- end Historical Events  section -->

<!-- end footer -->
<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
