<div class="content">

  <div class="loading" *ngIf="!liveStreamStatus">
    <mat-spinner></mat-spinner>
  </div>
  
  <div class="stream-body" *ngIf="!!liveStreamStatus && !urlSafe">
    {{errorMessage}}
  
    <p *ngIf="liveStreamStatus=='started'">
      Please share this link to users to view your live stream
      <b>https://player.cloud.wowza.com/hosted/bdp9kfmj/player.html</b>
    </p>
  
  
    <button (click)="onStartLiveStream()" mat-raised-button color="primary" *ngIf="liveStreamStatus !=='started'"
      [disabled]="liveStreamStatus =='starting'">
      
      <ng-container *ngIf="liveStreamStatus !== 'starting'">
        Prepare Live Stream
      </ng-container>

      <ng-container *ngIf="liveStreamStatus == 'starting'">
        Preparing Live Stream ...
      </ng-container>
    </button>
  
    <div class="info" *ngIf="liveStreamStatus == 'starting'">
      Please wait streaming engine may take upto 2 mins to start.
    </div>

    <p *ngIf="liveStreamStatus == 'starting'">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </p>
  </div>

  <!-- <app-live-streamer *ngIf="urlSafe" [connInfo]="liveStream.source_connection_information"></app-live-streamer>
  <button (click)="onStopLiveStream()" mat-raised-button color="primary" *ngIf="liveStreamStatus =='started'">
    Stop Stream
  </button> -->

  <div class="stream-frame" *ngIf="urlSafe">
    <iframe width="100%" height="100%" allow="camera; microphone" frameBorder="0" [src]="urlSafe" *ngIf="urlSafe"
      class="iframe"></iframe>
    <button (click)="onStopLiveStream()" mat-raised-button color="primary" *ngIf="liveStreamStatus =='started'">
      Stop Stream
    </button>
  </div>

</div>



