<form #uploadForm="ngForm" (submit)="onSubmit(uploadForm)">
  
  <app-upload (onUploadSuccess)="onUploadSuccess($event)"></app-upload>

  <div class="form-check form-check-inline" *ngFor="let roleCode of roles; let i = index;">
    <input class="form-check-input" ngModel [name]="roleCode" type="checkbox" [id]="'inlineCheckbox' + i">
    <label class="form-check-label" [for]="'inlineCheckbox'+i">{{roleCode | role}}</label>
  </div>

  <button type="submit" class="btn btn-success">Share document</button>

</form>