<!-- <div class="mat-elevation-z8">
  <div class="resource-actions-panel">
    <h3 class="table-heading">
      Messages Sent
    </h3>
    <div>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <button mat-raised-button color="primary" class="ml20" (click)="onAddResource()">
        <mat-icon>add</mat-icon>
        Add
      </button>
      <button mat-raised-button color="primary" class="ml10" (click)="onUploadCSV()">
        <mat-icon>publish</mat-icon>
        Upload CSV
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Name
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="nameFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>
        Role
        <mat-form-field floatLabel="never">
          <mat-label>Role</mat-label>
          <mat-select [formControl]="roleFilter">
            <mat-option [value]="roleKey" *ngFor="let roleKey of keys ">
              {{displayRoles[roleKey].label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.role | role}} </td>
    </ng-container>

    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef>
        Branch
        <mat-form-field floatLabel="never">
          <mat-label>Branch</mat-label>
          <mat-select [formControl]="branchFilter">
            <mat-option [value]="branch" *ngFor="let branch of branchList ">
              {{branch}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
    </ng-container>

    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef>
        Designation
        <mat-form-field floatLabel="never">
          <mat-label>Designation</mat-label>
          <mat-select [formControl]="designationFilter">
            <mat-option [value]="branch" *ngFor="let branch of designationList ">
              {{branch}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
    </ng-container>

    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef>
        District
        <mat-form-field>
          <mat-label>District</mat-label>
          <mat-select [formControl]="districtFilter">
            <mat-option [value]="branch" *ngFor="let branch of districtList ">
              {{branch}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.district}} </td>
    </ng-container>

    <ng-container matColumnDef="vidhansabha">
      <th mat-header-cell *matHeaderCellDef>
        Vidhan Sabha
        <mat-form-field>
          <mat-label>Vidhan Sabha</mat-label>
          <mat-select [formControl]="vidhanSabhaFilter">
            <mat-option [value]="branch" *ngFor="let branch of vidhanSabhaList ">
              {{branch}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.vidhansabha}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
    </ng-container>
    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
      <td mat-cell *matCellDef="let element"> {{element?.mobileNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created on </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef> Update on </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date}} </td>
    </ng-container>

    <ng-container matColumnDef="action" sticky="true">
      <th mat-header-cell *matHeaderCellDef>
        <div class="ml20">Actions</div>
      </th>
      <td mat-cell *matCellDef="let element">

        <div class="example-flex-container2">
          <button mat-button color="primary" (click)="onEdit(element)">Edit</button>
          <button mat-button color="warn" (click)="onDelete(element)">Delete</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> -->