<div class="mat-elevation-z8">
  <div class="resource-actions-panel">
    <h3 class="table-heading">
      Messages Sent
    </h3>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>
        Message
      </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <ng-container matColumnDef="mediumType">
      <th mat-header-cell *matHeaderCellDef>
        Medium used
      </th>
      <td mat-cell *matCellDef="let element">
        <span class="badge badge-secondary" *ngIf="element.mediumType.SMS">Sms</span>
        <span class="badge badge-secondary" *ngIf="element.mediumType.EMAIL">Email</span>
        <span class="badge badge-secondary" *ngIf="element.mediumType.PRIVATE">Private</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="sendToType">
      <th mat-header-cell *matHeaderCellDef>
        Sent to
      </th>
      <td mat-cell *matCellDef="let element">
        <span class="badge badge-primary" *ngIf="element.sendToType.ALL">All</span>
        <span class="badge badge-primary" *ngIf="element.sendToType.CUSTOM">Custom</span>
        <span class="badge badge-primary" *ngIf="element.sendToType.STATE_LEVEL_USER">State Level User</span>
        <span class="badge badge-primary" *ngIf="element.sendToType.BLOCK_LEVEL_USER">Block Level User</span>
        <span class="badge badge-primary" *ngIf="element.sendToType.DISTRICT_LEVEL_USER">District Level User</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="usersId">
      <th mat-header-cell *matHeaderCellDef>
        Users
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- <span class="badge badge-primary" *ngIf="element.sendToType.ALL">All</span>
        <span class="badge badge-primary" *ngIf="element.sendToType.STATE_LEVEL_USER">To all State Level User</span>
        <span class="badge badge-primary" *ngIf="element.sendToType.BLOCK_LEVEL_USER">To all Block Level User</span>
        <span class="badge badge-primary" *ngIf="element.sendToType.DISTRICT_LEVEL_USER">To all District Level User</span>
         -->
        <button class="btn btn-primary" *ngIf="element.sendToType.CUSTOM" (click)="openDialogue(element.usersId)">View users list</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Sent on </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>