.example-container {
  width: 100%;
  height: calc(100% - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dashboard-container {
  height: calc(100% - 64px);
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    background: #4CAF50;
    text-align: center;
    color: #fff;
}
mat-toolbar-row {
  justify-content: center;
}
.mat-list-item-content.active {
    background: #4caf50;
    color: #fff;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 223px;
}

.dashboard-container {
  padding: 16px;
  padding-top:24px;
}

a {
  text-decoration: none;
  color: inherit;
} 

.example-spacer {
  flex: 1 1 auto;
}

.logout-button {
  cursor: pointer;
}

.logout-button:hover {
  color: #2B78FE;
}
