/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-list-item-content {
  color: green !important;
}

.mat-nav-list {
  color: green;
}

.tab-content > .active {
    display: block;
    border: 1px solid #217922;
    padding: 15px;
}

.ng-star-inserted.header {
    background: #158e15;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #004200;
}

.card-body.Question-body-panel {
    border: 1px solid #217922;
    padding: 10px;
}



/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

// ==========

//
