/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-documents-page {
  display: block;
  margin-top: 130px;
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
